.meeting-empty-cell {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 28px;
    width: 65px;
    background-color: transparent;
    border-radius: 2px;
    background-color: #fff;
    z-index: 100;
}

.meeting-empty-cell:hover::before {
    content: '';
    background-image: url('../resources/svg/close-white.svg');
    display: block;
    width: 12px;
    height: 12px;
    background-size: 100%;
    background-position: 50% 50%;
    transform: translate(25px, 7px) rotate(45deg);
}

.meeting-empty-cell:hover {
    background-color: #2b50fd;
    cursor: pointer;
}

.calendar-room-row {
    display: flex;
    flex-grow: 1;
}

.calendar-meeting-rooms {
    height: 44px;
    width: 250px;
    background-color: #ffffff;
    border: .25px solid #ddd;
    
}

.calendar-meeting-rooms__title {
    height: 17px;
    line-height: 17px;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    padding-left: 25px;
}

.title_on_hover {
    color: #0070e0;
}

.calendar-meeting-rooms__quantity {
    height: 17px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    padding-left: 25px;
}

.calendar-meeting-timeline {
    display: flex;
    /* flex-grow: 1; */
    flex-basis: 1072px;
    flex-wrap: wrap;
    height: 100%;
    background-color: #f6f7f9;
    margin-left: 25px;
    /*padding-left: 34px; */
    position: relative;
}

.meeting {
    height: 28px;
    background-color: #d5dfe9;
    position: absolute;
    z-index: 100;
}

.meeting:hover {
    background-color: #98a9b9;
}

.meeting:active {
    background: rgba(0,0,0,0.12);
}