.meeting-members-select-wrapper {
    width: 420px;
    height: 136px;
    background: #ffffff;
    box-shadow: 0 1px 10px 0 rgba(0,44,92,0.28);
    border-radius: 4px;
    overflow-y: scroll;
}

.meeting-members-select {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.meeting-members-select__item {
    width: 404px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
}

.meeting-members-select__item:hover {
    /* box-shadow: 0 0 0 1px #007dff; */
    border: 1px solid #007dff;
    border-radius: 4px;
}

.meeting-members-select__item:hover .meeting-members-select__member-name {
    font-weight: bold;
}

.meeting-members-select__member-logo {
    display: inline-block;
    margin: 5px 8px 5px 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #000;
    font-size: 0;
}

.meeting-members-select__member-name {
    font-size: 13px;
    color: #000;
    letter-spacing: 0;
    margin-right: 10px;
}

.meeting-members-select__member-floor {
    font-size: 13px;
    color: #858e98;
    letter-spacing: 0;
    position: relative;
    margin-left: 5px;
}

.meeting-members-select__member-floor::before {
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #000;
    display: inline-block;
    position: absolute;
    top: 9px;
    left: -8px;
}

.meeting-members-select-wrapper::-webkit-scrollbar {
    display: block;
    width: 16px;
}

.meeting-members-select-wrapper::-webkit-scrollbar-thumb {
    background-color: #1d54fe;
    border-radius: 100px;
    background-clip: padding-box;
    border: 4px solid transparent;
}

.meeting-members-select-wrapper::-webkit-scrollbar-track {
    background: #dfe2e5;
    padding: 10px;
    background-clip: padding-box;
    border: 4px solid #ffffff;
    border-radius: 14px;
}